Source: plasma-maliit-plugins
Section: kde
Priority: extra
Maintainer: Kubuntu Developers <kubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Boudewijn Rempt <boud@kde.org>
Build-Depends: debhelper (>= 9),
               libdbus-1-dev,
               libmtdev-dev,
               libpulse-mainloop-glib0,
               libqt5waylandclient5-dev,
               libudev-dev,
               libxcb-composite0-dev,
               libxcb-damage0-dev,
               libxcb-xfixes0-dev,
               libxext-dev,
               pkg-config,
               pkg-kde-tools (>= 0.9),
               plasma-maliit-framework,
               qt5-default,
               qtbase5-dev (>= 5.2),
               qtbase5-private-dev,
               qtdeclarative5-dev
Standards-Version: 3.9.6
Homepage: https://github.com/plasma-mobile/plasma-maliit-plugins

Package: plasma-maliit-plugins
Architecture: any
Depends: plasma-maliit-framework, ${misc:Depends}, ${shlibs:Depends}
Description: Maliit Input Method Framework Plugins for Plasma
 Plasma Maliit provides a flexible and cross-platform input method
 framework. It has a plugin-based client-server architecture where
 applications act as clients and communicate with the Maliit server
 via input context plugins. The communication link currently uses
 D-Bus. Maliit is an open source framework (LGPL 2) with open source
 plugins (BSD).
